* {
    padding: 0;
    margin: 0;
  }

  html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
}

  body {
    font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "メイリオ",
      Meiryo, "ＭＳ Ｐゴシック", sans-serif;   
      background: linear-gradient(to top, rgba(217, 175, 217, 0.7) 0%, rgba(151, 217, 225, 0.7) 100%),url(https://cdn.pixabay.com/photo/2020/09/06/09/05/beach-5548446_1280.jpg);
      background-size: cover;  
  }
  
  header {
    background-color: #5a5a5a;
    height: 50px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  header a {
    color: white; 
    text-decoration: none; 
  }
  header h1 {
    color: white;
    margin-left: 20px;
  }
  .header-list {
    display: flex;
    align-items: center;
  }
  header ul {
    display: flex;
  }
  header li {
    list-style: none;
    margin-right: 40px;
  }

  .mypage {
    text-align:center;
    
    
   }

  .card {
      margin-top: 50px;
  }
   
   




   
 

  